@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


#projects {
  font-size: 30px;
  text-align: center;
}

h1{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

h2 {
  font-size: 18px;
  /*text-align: center;*/
  margin-left: 20px;
}


h4{
  text-align: center;
  margin-left: 20px;
}

img {
  height: 210px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.avatar {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  height: 100%;
  width: 38%;
  display: block;
  margin-bottom: 46px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.3s;
}


#header {
  background: #87F5FB;
}

.container{
  width: 750px;
  background-color: #cde7f0;
}
/*#developer_tag {
  color: white;
  background: #726DA8;
  border: solid black 2px;
  margin-bottom: 50px;
}*/

.nav {
  background: #7D8CC4;
}

.header-link {
  color: white;
}

p {
margin-top: 5px;  
}

#end-list {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 13px;
  text-align: center;
}

.modal-header #about{
  font-weight: bold;
  font-size: 20px;
  margin-left: 0px;
}
#title-repo{
  font-size: 20px;
  margin-left: 0px;
}
#modal{
  text-align: center;
}

#title {
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
}

#infoAbout {
    margin-top: -28px;
    margin-left: 202px;
}