h1 {
  text-align: center;
}

#first-section, #second-section {
  padding-left: 100px;

}

ul > p {
  margin-left: -41px;
  padding-top: 20px;
}

 #new-city, #new-state 
    {
     font-size:12pt;
     height:20px;
     width:200px;
    }

#clickme, #refresh {
    font-size:12pt;
     height:26px;
     width:80px;
}